@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face{
    font-family: "Android";
    src: url('../fontes/idroid.otf') format("opentype");
    font-weight: normal;
}

:root{
    --cor1: #c5ebd6;
    --cor2: #83e1ad;
    --cor3: #3ddc84;
    --cor4: #2fa866;
    --cor5: #1a5c37;
    --cor6: #063d16;

    --fonte-padrao: Arial, verdana, helvetica, san-sarif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: "Android", cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #c5ebd6;
    font-family: var(--fonte-padrao);
}

a.externo::after{
    content: "\00A0\1F517";
}

header{
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor6));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1{
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    color: white;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.473);
}

header >p {
    font-family: var(--fonte-padrao);
    font-size: 1.5em;
    color: white;
    max-width: 500px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    padding-bottom: 50px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.473);
}

nav{
    background-color: var(--cor6);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.37);
}

nav > a{
    color: var(--cor1);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 500ms;
}

nav > a:hover{
    background-color: var(--cor4);
    color: var(--cor6);
}

main{
    min-width: 300px;
    max-width: 1000px;
    margin:auto;
    margin-bottom: 30px;
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.438);
    background-color: white;
}

main img{
    width: 100%;
}

main img.pequeno{
    max-width: 350px;
    display: block;
    margin: auto;
}

main h1{
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8;
    color: var(--cor6);
}

main h2{
    font-family: var(--fonte-android);
    font-size: 1.3em;
    font-weight: normal;
    color: var(--cor5);
    background-image: linear-gradient(to right, var(--cor2), transparent);
    text-indent: 8px;
}

main  p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
}

main strong{
    color: var(--cor5);
}

main a{
    text-decoration: none;
    background-color: var(--cor3);
    color: var(--cor6);
    font-weight: bold;
    padding: 2px 6px;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor5);
}

div.video{
    background-color: var(--cor6);
    margin: 0px -10px 30px -10px;
    position: relative;
    padding-bottom: 34%;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 21%;
}

aside{
    background-color: var(--cor2);
    padding: 10px;
    border-radius: 10px;
}

aside > h3{
    background-color: var(--cor5);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul{
    list-style-type: "\2714\00a0";
    list-style-position: inside;
    columns: 2;
}

footer{
    background-color: var(--cor6);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor2);
}